{% extends "AppBundle::layout.html.twig" %}



{% block header %}
	{# header #}
  	<div id="header2">
		<div class="jumbotron">
	  		<div class="col-md-12 text-center">
	  			<h1>Recherche de travailleurs</h1>
	  		</div>
  		</div>
  		
  	</div>	
  	{# end header #}
{% endblock header %}


{% block content %}

  	<div id="search_worker_content">

		<div class="container">
			
			<div class="row">
				<div class="col-md-12">
					<h3>Résultats de votre recherche: {{ number }} travailleur{% if number > 1 %}s{% endif %} </h3>
				</div>

				<div class="col-md-3">
					{# .filter #}
					<div class="filter">
						<h3 class="text-center">Filtres</h3>
						<form action="{{ path('app_rechercher_tavailleur') }}" id="form_filter">
							<h3 class="page-header"></h3>
							<select class="form-control" name="specialite" id="specialites">
								<option value="specialite">Spécialité</option>
	                            {% for sp in specialites %}
									<option value="{{ sp.id }}">{{ sp.nom }}</option>
	                            {% endfor %}
							</select>
							<h3 class="page-header"></h3>
							<select class="form-control" name="pays" id="pays">
								<option value="pays">Pays</option>
								{% for p in pays %}
									<option value="{{ p.id }}">{{ p.nom }}</option>
								{% endfor %}
							</select>
							<div class="">
								<h3 class="page-header"></h3>
								<select class="form-control" name="ville" id="villes">
									<option value="ville">Ville</option>
								</select>
							</div>

							<button class="btn btn-primary btn-block" type="submit">Rechercher</button>
						</form>
					</div>
					{# /.filter #}
				</div>

				<div class="col-md-3">
					{% for t in travailleurs %}
						<div>{{ t.username }}</div>
					{% endfor %}
				</div>

			</div>

			<div class="row">

			</div>
		</div>
  		
	 
  	</div>

  
{% endblock content %}

{% block javascripts %}
	{{ parent() }}

	<script>
		$(function () {
			$('#pays').change(function() {
				var pays = $(this).val()
				$.ajax({
					type: 'get',
					url: Routing.generate('getVilleByPays', {"pays": pays}),
					beforeSend: function () {
					},
					success: function (data) {
						var result = data;
						console.log(result);
						$("#villes").html(new Option("Ville", "ville"))
						result.forEach(function (r) {
							console.log(r);
							$("#villes").append(new Option(r.nom, r.id));
						});
					},
					error: function (data) {
						console.log(data);
					}
				});
			})
		})
	</script>
{% endblock %}