{% trans_default_domain 'FOSUserBundle' %}

<h2 class="page-header">Changer le mot de passe</h2>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}

    <div class="text-danger">
    	{{ form_errors(form) }}
    </div>

    <div class="form-group">
    	<label>Mot de passe actuel</label>
    	{{ form_widget(form.current_password, {'attr': {'class': 'form-control'}}) }}
	    {{ form_errors(form.current_password) }}
    </div>

    <div class="form-group">
    	<label>Nouveau mot de passe</label>
    	{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
	    {{ form_errors(form.plainPassword.first) }}
    </div>

    <div class="form-group">
    	<label>Répéter le nouveau mot de passe</label>
    	{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
	    {{ form_errors(form.plainPassword.second) }}
    </div>

    {{ form_rest(form) }}
   

    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-primary" />
    </div>
{{ form_end(form) }}
