{% extends "@FOSUser/layout.html.twig" %}

{% block title %}
    Mes diplômes - {{ parent() }}
{% endblock %}

{% block fos_user_content_content %}

    <h3 class="page-header">Mes diplômes</h3>
    <div class="row">
        <div class="col-md-6">
            {% for d in diplomes %}
                <div class="row">
                    <div class="col-md-4">{{ d.nom }}</div>
                    <div class="col-md-4"><a href="{{ path('user_travailleur_update_diplome', {'diplome' : d.id}) }}">Update</a></div>
                    <div class="col-md-4"><a href="{{ path('user_travailleur_remove_diplome', {'diplome' : d.id}) }}">Remove</a></div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="form-group">
                {{ form_label(form.nom, 'Nom du diplôme', { 'attr' : { 'class' : 'control-label'} }) }}
                {{ form_widget(form.nom, { 'attr' : { 'class' : 'form-control'} }) }}
            </div>
            {{ form_rest(form) }}

            <div class="row">
                {% if form.vars.value.id != null %}
                <div class="col-md-6">
                    <div class="form-group">
                        <a class="btn btn-primary" href="{{ path('user_travailleur_diplomes') }}">Annuler</a>
                    </div>
                </div>
                {% endif %}
                <div class="col-md-6">
                    <div class="form-group">
                        <button class="btn btn-primary">Valider</button>
                    </div>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>

{% endblock fos_user_content_content %}
